@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);

* {
  font-family: "Inter", sans-serif;
}

:root {
  --warna-putih: #ffffff;
  --warna-navbar: #165668;
  --warna-nabarr: #457886;
  --warna-opac: #4578865f;
  --judul: 500%;
  --biasa: 190%;
  --biasa-banget: 120%;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(22, 86, 104, 0.9);
  backdrop-filter: blur(5px);
  z-index: 100;
  padding-left: 20px;
  padding-right: 20px;
}

.icon {
  width: fit-content;
}

.icon img {
  width: 30px;
}

.text-navbar {
  color: var(--warna-putih);
  margin: 0 5px;
}

.font-putih {
  color: var(--warna-putih);
}

/* main */
.main-container {
  margin-left: 35px;
  margin-top: 150px;
  margin-bottom: 150px;
}
.main-container span {
  font-weight: bold;
}

.tabs-item {
  width: fit-content;
}

.list-item {
  width: fit-content;
  background: rgba(22, 86, 104, 0.6);
  border-radius: 8px;
  padding: 0;
}

.list-item li {
  list-style: none;
  margin: 5px;
  padding: 5px 10px;
}
.list-item a {
  text-decoration: none;
  color: black;
}

.list-item .active {
  background: #ffffff;
  border-radius: 8px;
}

.content {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 65%;
}

.list {
  margin-bottom: 20px;
}

.btn-list {
  margin: 0 200px;
  border: none;
  background: #165668;
  color: white;
  border-radius: 8px;
}

/*  */

#project {
  background-color: var(--warna-navbar);
}

#footer {
  margin-top: 3rem;
  padding-top: 2rem;
  background: var(--warna-navbar);
  top: 100%;
}

.gambar-kecil {
  width: 4rem;
}

.gambar-kecilinfinit {
  width: 8rem;
}

.ratatengah {
  text-align: center;
}
